<a href="https://colab.research.google.com/github/RyanBlaney/Analyzing_Worldwide_Covid_Cases/blob/main/Analyzing_Worldwide_Covid_Cases.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import pandas as pd
import numpy as np
import os
import urllib.request
%matplotlib inline

In [3]:
url = "https://covid19.who.int/WHO-COVID-19-global-data.csv"
file_path = os.path.join("data", "covid")

In [10]:
os.makedirs(file_path, exist_ok=True)
csv_path = os.path.join(file_path, "WHO-COVID-19-global-data.csv")
urllib.request.urlretrieve(url, csv_path)

('data/covid/WHO-COVID-19-global-data.csv',
 <http.client.HTTPMessage at 0x7fa725808610>)

In [12]:
df = pd.read_csv(csv_path)

In [18]:
df

       Date_reported Country_code  ... New_deaths Cumulative_deaths
0         2020-01-03           AF  ...          0                 0
1         2020-01-04           AF  ...          0                 0
2         2020-01-05           AF  ...          0                 0
3         2020-01-06           AF  ...          0                 0
4         2020-01-07           AF  ...          0                 0
...              ...          ...  ...        ...               ...
149068    2021-09-18           ZW  ...          2              4562
149069    2021-09-19           ZW  ...          1              4563
149070    2021-09-20           ZW  ...          4              4567
149071    2021-09-21           ZW  ...          2              4569
149072    2021-09-22           ZW  ...          0              4569

[149073 rows x 8 columns]

In [21]:
df_index = df.index
df_index

RangeIndex(start=0, stop=149073, step=1)

In [23]:
df_cols = df.columns
df_cols

Index(['Date_reported', 'Country_code', 'Country', 'WHO_region', 'New_cases',
       'Cumulative_cases', 'New_deaths', 'Cumulative_deaths'],
      dtype='object')

In [25]:
df_index.values

array([     0,      1,      2, ..., 149070, 149071, 149072])

In [27]:
df.values

array([['2020-01-03', 'AF', 'Afghanistan', ..., 0, 0, 0],
       ['2020-01-04', 'AF', 'Afghanistan', ..., 0, 0, 0],
       ['2020-01-05', 'AF', 'Afghanistan', ..., 0, 0, 0],
       ...,
       ['2021-09-20', 'ZW', 'Zimbabwe', ..., 127938, 4, 4567],
       ['2021-09-21', 'ZW', 'Zimbabwe', ..., 128186, 2, 4569],
       ['2021-09-22', 'ZW', 'Zimbabwe', ..., 128186, 0, 4569]],
      dtype=object)

In [28]:
df.dtypes

Date_reported        object
Country_code         object
Country              object
WHO_region           object
New_cases             int64
Cumulative_cases      int64
New_deaths            int64
Cumulative_deaths     int64
dtype: object

In [30]:
df.shape

(149073, 8)

In [36]:
df.head()

  Date_reported Country_code  ... New_deaths Cumulative_deaths
0    2020-01-03           AF  ...          0                 0
1    2020-01-04           AF  ...          0                 0
2    2020-01-05           AF  ...          0                 0
3    2020-01-06           AF  ...          0                 0
4    2020-01-07           AF  ...          0                 0

[5 rows x 8 columns]

In [32]:
df.tail()

       Date_reported Country_code  ... New_deaths Cumulative_deaths
149068    2021-09-18           ZW  ...          2              4562
149069    2021-09-19           ZW  ...          1              4563
149070    2021-09-20           ZW  ...          4              4567
149071    2021-09-21           ZW  ...          2              4569
149072    2021-09-22           ZW  ...          0              4569

[5 rows x 8 columns]

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149073 entries, 0 to 149072
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Date_reported      149073 non-null  object
 1   Country_code       148444 non-null  object
 2   Country            149073 non-null  object
 3   WHO_region         149073 non-null  object
 4   New_cases          149073 non-null  int64
 5   Cumulative_cases   149073 non-null  int64
 6   New_deaths         149073 non-null  int64
 7   Cumulative_deaths  149073 non-null  int64
dtypes: int64(4), object(4)
memory usage: 9.1+ MB

In [38]:
df.describe()

           New_cases  Cumulative_cases     New_deaths  Cumulative_deaths
count  149073.000000      1.490730e+05  149073.000000      149073.000000
mean     1538.668726      3.281234e+05      31.562463        7567.727764
std      9625.322041      1.941078e+06     170.945884       38222.367993
min    -32952.000000      0.000000e+00     -60.000000           0.000000
25%         0.000000      3.700000e+01       0.000000           0.000000
50%        12.000000      4.286000e+03       0.000000          65.000000
75%       364.000000      7.813000e+04       5.000000        1288.000000
max    414188.000000      4.203435e+07    8786.000000      671728.000000

In [39]:
df["Country"]

0         Afghanistan
1         Afghanistan
2         Afghanistan
3         Afghanistan
4         Afghanistan
             ...
149068       Zimbabwe
149069       Zimbabwe
149070       Zimbabwe
149071       Zimbabwe
149072       Zimbabwe
Name: Country, Length: 149073, dtype: object

In [42]:
df["Country"].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra',
       'Angola', 'Anguilla', 'Antigua and Barbuda', 'Argentina',
       'Armenia', 'Aruba', 'Australia', 'Austria', 'Azerbaijan',
       'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus',
       'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan',
       'Bolivia (Plurinational State of)', 'Bonaire',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei Darussalam', 'Bulgaria',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon',
       'Canada', 'Cayman Islands', 'Central African Republic', 'Chad',
       'Chile', 'China', 'Colombia', 'Comoros', 'Congo', 'Cook Islands',
       'Costa Rica', 'CÃ´te dâ€™Ivoire', 'Croatia', 'Cuba', 'CuraÃ§ao',
       'Cyprus', 'Czechia', "Democratic People's Republic of Korea",
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Falkland Islands (Malvinas)',
       'Faroe Islands', 'Fiji', 'Finland', 'France', 'French Guiana',
       'French Polynesia', 'Gabon', 'Gambia', 'Georgia', 'Germany',
       'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada',
       'Guadeloupe', 'Guam', 'Guatemala', 'Guernsey', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'Holy See', 'Honduras',
       'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran (Islamic Republic of)', 'Iraq', 'Ireland', 'Isle of Man',
       'Israel', 'Italy', 'Jamaica', 'Japan', 'Jersey', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kiribati', 'Kosovo[1]', 'Kuwait',
       'Kyrgyzstan', "Lao People's Democratic Republic", 'Latvia',
       'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein',
       'Lithuania', 'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia',
       'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Martinique',
       'Mauritania', 'Mauritius', 'Mayotte', 'Mexico',
       'Micronesia (Federated States of)', 'Monaco', 'Mongolia',
       'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Caledonia',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue',
       'North Macedonia',
       'Northern Mariana Islands (Commonwealth of the)', 'Norway',
       'occupied Palestinian territory, including east Jerusalem', 'Oman',
       'Other', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea',
       'Paraguay', 'Peru', 'Philippines', 'Pitcairn Islands', 'Poland',
       'Portugal', 'Puerto Rico', 'Qatar', 'Republic of Korea',
       'Republic of Moldova', 'RÃ©union', 'Romania', 'Russian Federation',
       'Rwanda', 'Saba', 'Saint BarthÃ©lemy', 'Saint Helena',
       'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Martin',
       'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines',
       'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia',
       'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Eustatius', 'Sint Maarten', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan',
       'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden', 'Switzerland',
       'Syrian Arab Republic', 'Tajikistan', 'Thailand',
       'The United Kingdom', 'Timor-Leste', 'Togo', 'Tokelau', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Turks and Caicos Islands', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Republic of Tanzania',
       'United States of America', 'United States Virgin Islands',
       'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela (Bolivarian Republic of)', 'Viet Nam',
       'Wallis and Futuna', 'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

In [44]:
df.columns = [col.strip() for col in df.columns]
df.columns

Index(['Date_reported', 'Country_code', 'Country', 'WHO_region', 'New_cases',
       'Cumulative_cases', 'New_deaths', 'Cumulative_deaths'],
      dtype='object')

In [45]:
df.Country

0         Afghanistan
1         Afghanistan
2         Afghanistan
3         Afghanistan
4         Afghanistan
             ...
149068       Zimbabwe
149069       Zimbabwe
149070       Zimbabwe
149071       Zimbabwe
149072       Zimbabwe
Name: Country, Length: 149073, dtype: object

In [46]:
df.loc[1:4,'Country']

1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
Name: Country, dtype: object

In [49]:
df.loc[1:8,['Country','New_cases']]

       Country  New_cases
1  Afghanistan          0
2  Afghanistan          0
3  Afghanistan          0
4  Afghanistan          0
5  Afghanistan          0
6  Afghanistan          0
7  Afghanistan          0
8  Afghanistan          0

In [50]:
df.Country == 'United States of America'

0         False
1         False
2         False
3         False
4         False
          ...
149068    False
149069    False
149070    False
149071    False
149072    False
Name: Country, Length: 149073, dtype: bool

In [51]:
df[df.Country == 'United States of America']

       Date_reported Country_code  ... New_deaths Cumulative_deaths
142154    2020-01-03           US  ...          0                 0
142155    2020-01-04           US  ...          0                 0
142156    2020-01-05           US  ...          0                 0
142157    2020-01-06           US  ...          0                 0
142158    2020-01-07           US  ...          0                 0
...              ...          ...  ...        ...               ...
142778    2021-09-18           US  ...       5278            668598
142779    2021-09-19           US  ...        592            669190
142780    2021-09-20           US  ...        222            669412
142781    2021-09-21           US  ...          0            669412
142782    2021-09-22           US  ...       2316            671728

[629 rows x 8 columns]

In [53]:
df[df.New_deaths > 1000]

       Date_reported Country_code  ... New_deaths Cumulative_deaths
5306      2020-10-03           AR  ...       3351             20288
15345     2020-09-08           BO  ...       1610              7008
17751     2020-05-21           BR  ...       1179             17971
17753     2020-05-23           BR  ...       1188             20047
17754     2020-05-24           BR  ...       1001             21048
...              ...          ...  ...        ...               ...
142775    2021-09-15           US  ...       1210            657353
142776    2021-09-16           US  ...       3791            661144
142777    2021-09-17           US  ...       2176            663320
142778    2021-09-18           US  ...       5278            668598
142782    2021-09-22           US  ...       2316            671728

[749 rows x 8 columns]

In [54]:
df.loc[df.Country_code == 'US',['New_cases']].max()

New_cases    333357
dtype: int64

In [55]:
df.loc[df.Country_code == 'US',['New_cases']].min()

New_cases    0
dtype: int64

In [56]:
df.loc[df.Country_code == 'US',['New_cases']].sum()

New_cases    42034347
dtype: int64

In [57]:
df.loc[df.Country_code == 'US',['New_deaths']].sum()

New_deaths    671728
dtype: int64

In [58]:
df.loc[df.Country_code == 'US',['Cumulative_deaths']].max()

Cumulative_deaths    671728
dtype: int64

In [60]:
df.New_deaths.idxmax()

38305

In [61]:
df.loc[df.New_deaths.idxmax(),['Date_reported', 'Country', 'New_cases', 'New_deaths', 'Cumulative_deaths']]

Date_reported        2021-07-21
Country                 Ecuador
New_cases                  1634
New_deaths                 8786
Cumulative_deaths         30744
Name: 38305, dtype: object

In [62]:
df[df.New_deaths < 0]

       Date_reported Country_code  ... New_deaths Cumulative_deaths
1472      2020-08-04           DZ  ...         -2              1229
3421      2020-10-05           AO  ...         -4               185
9046      2020-08-30           BS  ...        -10                40
9263      2021-04-04           BS  ...         -1               188
20320     2020-07-13           BF  ...         -1                53
21959     2021-07-29           CV  ...         -1               298
21988     2021-08-27           CV  ...         -1               307
28463     2020-06-09           CG  ...         -2                20
31675     2020-08-15           CU  ...         -1                88
38289     2021-07-05           EC  ...         -8             21660
40618     2020-12-30           ER  ...         -1                 1
40703     2021-03-25           ER  ...        -27                 8
41754     2020-08-30           SZ  ...         -2                91
41961     2021-03-25           SZ  ...         -2               666
45890     2021-08-27           FR  ...        -21            112410
45899     2021-09-05           FR  ...        -41            112992
45906     2021-09-12           FR  ...        -50            113446
46376     2021-04-06           GF  ...         -3                93
53021     2020-07-06           GP  ...         -2                14
54217     2020-05-05           GT  ...         -2                17
55535     2020-07-04           GN  ...        -13                33
55879     2021-06-13           GN  ...         -2               167
58872     2021-01-12           HN  ...         -2              3273
64961     2020-06-25           IT  ...        -31             34644
73974     2021-01-18           LS  ...         -4                93
80326     2021-03-21           ML  ...         -3               360
80428     2021-07-01           ML  ...         -1               525
83822     2020-06-16           YT  ...         -1                28
90197     2020-09-09          NaN  ...         -2                89
95516     2021-06-23           NG  ...         -1              2118
103861    2020-03-19           PH  ...         -2                17
106424    2020-05-05           PR  ...        -43                54
109052    2020-08-25           RE  ...         -4                 2
115074    2021-08-21           MF  ...        -17                16
117751    2020-05-10           ST  ...         -1                 4
122752    2020-04-09           SX  ...         -2                 6
126570    2020-05-23           SS  ...         -1                 5
126680    2020-09-10           SS  ...         -1                48
126767    2020-12-06           SS  ...         -1                61
126922    2021-05-10           SS  ...         -1               115
127783    2020-04-08           LK  ...         -6                 0
132414    2020-11-22           TH  ...        -60                 0
140084    2021-03-24           UG  ...         -5               334
140124    2021-05-03           UG  ...         -1               342
148622    2020-06-29           ZW  ...         -1                 6

[45 rows x 8 columns]

In [63]:
df['pct_cases'] = (df['New_cases'] / df['Cumulative_cases']) * 100
df

       Date_reported Country_code  ... Cumulative_deaths pct_cases
0         2020-01-03           AF  ...                 0       NaN
1         2020-01-04           AF  ...                 0       NaN
2         2020-01-05           AF  ...                 0       NaN
3         2020-01-06           AF  ...                 0       NaN
4         2020-01-07           AF  ...                 0       NaN
...              ...          ...  ...               ...       ...
149068    2021-09-18           ZW  ...              4562  0.206845
149069    2021-09-19           ZW  ...              4563  0.083765
149070    2021-09-20           ZW  ...              4567  0.155544
149071    2021-09-21           ZW  ...              4569  0.193469
149072    2021-09-22           ZW  ...              4569  0.000000

[149073 rows x 9 columns]